## Gather

In [2]:
import pandas as pd

In [3]:
patients = pd.read_csv('patients.csv')
treatments = pd.read_csv('treatments.csv')
adverse_reactions = pd.read_csv('adverse_reactions.csv')

## Assess

In [ ]:
patients

In [ ]:
treatments

In [ ]:
adverse_reactions

In [4]:
patients.surname.value_counts()

Doe             6
Taylor          3
Jakobsen        3
Hueber          2
Souza           2
Parker          2
Nilsen          2
Lund            2
Lương           2
Johnson         2
Grímsdóttir     2
Woźniak         2
Liễu            2
Cabrera         2
Silva           2
Cindrić         2
Aranda          2
Ogochukwu       2
Schiavone       2
Collins         2
Dratchev        2
Gersten         2
Lâm             2
Batukayev       2
Kowalczyk       2
Bùi             2
Correia         2
Tucker          2
Berg            2
Kadyrov         2
               ..
Grubišić        1
Jephcott        1
Shuler          1
Filípek         1
Polak           1
Jurković        1
Sleiman         1
Zaitseva        1
Guðbrandsson    1
Navrátil        1
Jindrová        1
Afamefuna       1
Mikkelsen       1
House           1
Fodor           1
Ferrari         1
Gibson          1
Kos             1
Vũ              1
Rocha           1
Bisliev         1
Kristensen      1
Fournier        1
Vieira          1
Wysocki         1
Moore           1
Bole            1
Lê              1
Selassie        1
Lukić           1
Name: surname, Length: 466, dtype: int64

In [5]:
patients.address.value_counts()

123 Main Street              6
2476 Fulton Street           2
648 Old Dear Lane            2
2778 North Avenue            2
4277 Mutton Town Road        1
2418 Smith Street            1
2272 Williams Avenue         1
1179 Patton Lane             1
2873 John Calvin Drive       1
707 Gateway Avenue           1
2915 Lynn Avenue             1
2913 Rogers Street           1
2322 Grim Avenue             1
1854 Kyle Street             1
2866 Myra Street             1
4870 Corbin Branch Road      1
3216 Lodgeville Road         1
1614 Heather Sees Way        1
1116 Dog Hill Lane           1
1813 Lindale Avenue          1
2126 Pearl Street            1
3868 Freed Drive             1
2043 Jadewood Drive          1
4945 Jarvis Street           1
3268 Karen Lane              1
685 Duncan Avenue            1
312 Jim Rosa Lane            1
1373 Wilmar Farm Road        1
1619 Melm Street             1
3958 Liberty Avenue          1
                            ..
90 Meadow View Drive         1
2917 Golden Ridge Road       1
3161 Fantages Way            1
4111 Thunder Road            1
2102 Geraldine Lane          1
69 Mattson Street            1
3710 Jerry Dove Drive        1
3402 Kildeer Drive           1
1703 Everette Alley          1
1424 Primrose Lane           1
4380 Grim Avenue             1
3920 Braxton Street          1
4105 Ferguson Street         1
2338 Virginia Street         1
4704 Edsel Road              1
2055 Emeral Dreams Drive     1
2836 Boring Lane             1
1333 Comfort Court           1
1014 Locust Court            1
4932 Goldleaf Lane           1
2578 Tenmile                 1
4386 Camden Street           1
1624 Rosebud Avenue          1
1251 Clarence Court          1
1821 Virginia Street         1
2074 Parrish Avenue          1
3542 Robinson Court          1
3180 Still Pastures Drive    1
1403 Clousson Road           1
1763 Williams Mine Road      1
Name: address, Length: 483, dtype: int64

In [6]:
patients[patients.address.duplicated()]

,patient_id,assigned_sex,given_name,surname,address,city,state,zip_code,country,contact,birthdate,weight,height,bmi
29,30,male,Jake,Jakobsen,648 Old Dear Lane,Port Jervis,New York,12771.0,United States,JakobCJakobsen@einrot.com+1 (845) 858-7707,8/1/1985,155.8,67,24.4
219,220,male,Mỹ,Quynh,NaN,NaN,NaN,NaN,NaN,NaN,4/9/1978,237.8,69,35.1
229,230,male,John,Doe,123 Main Street,New York,NY,12345.0,United States,johndoe@email.com1234567890,1/1/1975,180.0,72,24.4
230,231,female,Elisabeth,Knudsen,NaN,NaN,NaN,NaN,NaN,NaN,9/23/1976,165.9,63,29.4
234,235,female,Martina,Tománková,NaN,NaN,NaN,NaN,NaN,NaN,4/7/1936,199.5,65,33.2
237,238,male,John,Doe,123 Main Street,New York,NY,12345.0,United States,johndoe@email.com1234567890,1/1/1975,180.0,72,24.4
242,243,male,John,O'Brian,NaN,NaN,NaN,NaN,NaN,NaN,2/25/1957,205.3,74,26.4
244,245,male,John,Doe,123 Main Street,New York,NY,12345.0,United States,johndoe@email.com1234567890,1/1/1975,180.0,72,24.4
249,250,male,Benjamin,Mehler,NaN,NaN,NaN,NaN,NaN,NaN,10/30/1951,146.5,69,21.6
251,252,male,John,Doe,123 Main Street,New York,NY,12345.0,United States,johndoe@email.com1234567890,1/1/1975,180.0,72,24.4
257,258,male,Jin,Kung,NaN,NaN,NaN,NaN,NaN,NaN,5/17/1995,231.7,69,34.2
264,265,female,Wafiyyah,Asfour,NaN,NaN,NaN,NaN,NaN,NaN,11/3/1989,158.6,63,28.1
269,270,female,Flavia,Fiorentino,NaN,NaN,NaN,NaN,NaN,NaN,10/9/1937,175.2,61,33.1
277,278,male,John,Doe,123 Main Street,New York,NY,12345.0,United States,johndoe@email.com1234567890,1/1/1975,180.0,72,24.4
278,279,female,Generosa,Cabán,NaN,NaN,NaN,NaN,NaN,NaN,12/16/1962,124.3,69,18.4
282,283,female,Sandy,Taylor,2476 Fulton Street,Rainelle,WV,25962.0,United States,304-438-2648SandraCTaylor@dayrep.com,10/23/1960,206.1,64,35.4
286,287,male,Lewis,Webb,NaN,NaN,NaN,NaN,NaN,NaN,4/1/1979,155.3,68,23.6
296,297,female,Chỉ,Lâm,NaN,NaN,NaN,NaN,NaN,NaN,5/14/1990,181.1,63,32.1
502,503,male,Pat,Gersten,2778 North Avenue,Burr,Nebraska,68324.0,United States,PatrickGersten@rhyta.com402-848-4923,5/3/1954,138.2,71,19.3

In [7]:
patients.weight.sort_values()

210     48.8
459    102.1
335    102.7
74     103.2
317    106.0
171    106.5
51     107.1
270    108.1
198    108.5
48     109.1
478    109.6
141    110.2
38     111.8
438    112.0
14     112.0
235    112.2
307    112.4
191    112.6
408    113.1
49     113.3
326    114.0
338    114.1
253    117.0
321    118.4
168    118.8
1      118.8
350    119.0
207    119.2
265    120.0
341    120.3
       ...
332    224.0
252    224.2
12     224.2
222    224.8
166    225.3
111    225.9
101    226.2
150    226.6
352    227.7
428    227.7
88     227.7
13     228.4
339    229.0
182    230.3
121    230.8
257    231.7
395    231.9
246    232.1
219    237.8
11     238.7
50     238.9
441    239.1
499    239.6
439    242.0
487    242.4
144    244.9
61     244.9
283    245.5
118    254.5
485    255.9
Name: weight, Length: 503, dtype: float64

In [8]:
sum(treatments.auralin.isnull())

0

In [9]:
sum(treatments.novodra.isnull())

0